body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20%;
}

h1 {
    font-size: 45px;
}

.button-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 40px 0px;
    padding: 20px 0px 20px 0px;
}

input {
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

button {
    background-color: transparent; 
    text-align: center;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    padding: 5px 30px 5px 30px;
}

button:hover {
    background: hotpink;
}

#div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.square {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.square:hover {
    background-color: hotpink;
}