body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 10%;
}

h1 {
    position: sticky;
}

#div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    padding: 0px;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

.square:hover {
    background-color: hotpink;
}